include README.rst LICENSE
recursive-include src/codemirror2/static *
recursive-include src/codemirror2/templates *.html
prune src/codemirror2/static/codemirror2/.git
recursive-include examples *
recursive-exclude examples/static_dest *
recursive-include tests *
