include README.rst LICENSE
recursive-include codemirror2/static *
recursive-include codemirror2/templates *.html
prune codemirror2/static/codemirror2/.git
recursive-include examples *
recursive-exclude examples/static_dest *
